requests
scapy
wget
argparse
colorama
humanfriendly
astroid
certifi
charset-normalizer
colorama
dill
pyfiglet
flake8
humanfriendly
idna
startrek
termcolor
toml
tomli
typing-extensions
udp
urllib3
wget
wrapt
